{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}

<h1>Mot de passe oublié</h1>

<form action="" medthod='post'>
<div class="form-group">
  <label for="email" class='form-label'>Email</label>
  <input type="email" name="email" id='email' class='form-control' placeholder="Saississez l'adresse de votre compte">
</div>

<button type='submit' class='btn btn-warning btn-block my-2'>Valider</button>
</form>
{% endblock %}
