{% extends 'base.html.twig' %}

{% block body %}
    <div class="row ">
        {% for comment in comments %}
            {% if comment.publish %}


                <div class="col-md-3 bg-warning boder border-dark rounded p-3">
                    <p>{{ comment.comment }}</p>
                    <h3>{{ comment.rate }}/5</h3>
                    <h6>Par {{ comment.user.nickname }}</h6>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

