 {% extends 'base.html.twig' %}

{% block body %}
{% if app.user %}
  <h1>Hello <em>{{ user.nickname }}</em> </h1>

  <h3>pseudo : {{ user.nickname }}</h3>
  <h3>email : {{ user.email }}</h3>


  <h3>Commandes : </h3>
{% for order in user %}
  
{% endfor %}


{% endif %}
{% endblock %} 